{% extends "base.html" %}
{% block content %}
<h1>{{ album.title }}</h1>
<p>{{ album.description }}</p>
<p>Автор: <a href="{% url 'profile' album.author.pk %}">{{ album.author.get_full_name }}</a></p>

<h2>Фотографии в альбоме</h2>
<div>
  {% for photo in photos_page %}
    <div>
      <a href="{% url 'webapp:photo_detail' photo.pk %}">
        <img src="{{ photo.image.url }}" >
      </a>
      <p>{{ photo.caption }}</p>
    </div>
  {% empty %}
    <p>Публичных фотографий нет.</p>
  {% endfor %}
</div>

<div>
  {% if photos_page.has_previous %}
    <a href="?page={{ photos_page.previous_page_number }}">Prev</a>
  {% endif %}
  <span>Стр. {{ photos_page.number }} / {{ photos_page.paginator.num_pages }}</span>
  {% if photos_page.has_next %}
    <a href="?page={{ photos_page.next_page_number }}">Next</a>
  {% endif %}
</div>

{% if user == album.author %}
  <p><a href="{% url 'webapp:album_edit' album.pk %}">Редактировать</a> | <a href="{% url 'webapp:album_delete' album.pk %}">Удалить</a></p>
{% endif %}
{% endblock %}
